$red-youtube: #CC181E;
$primary: $red-youtube;

@import '../node_modules/bulma/bulma';

.nav__logo {
   margin-right: 10px;
}

.hero, .section{
   background-color: #F5F5F5;
}

.hero-head{
   background-color: white;   
}

.panel {
   background-color: white;
   padding: 0;
   border-radius: 0;   
}

.panel-heading {
   text-align: center;
   border-radius: 0;   
}
.panel-img img {
   width: 50px;
   height: 50px;
   max-width: none;
   margin-right: 10px;
   margin-top: 7px;

   &:hover {
      border: 2px solid $primary;
   }
}
.is-active img {
   border: 2px solid $primary;
}

.circular--square {
   border-radius: 50%;
}

input[type=range]::-webkit-slider-thumb {
    box-shadow: 1px 1px 10px #000000;
  border: 0px solid #000000;
  height: 20px;
  width: 20px;
  border-radius: 25px;
  background: #FFFFFF;
//   cursor: pointer;
  -webkit-appearance: none;
  z-index: 10;
  margin-top: -3px;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 14px;
  box-shadow: 0px 0px 3px #000000;
  background: $primary;
  border-radius: 5px;
}

input[type=range] {
   -webkit-appearance: none;
   background-color: transparent;
  margin: 10px 0;
  width: 100%;
  height: 25px;
}
.presentation {
   background-color: #fff;
   padding: 20px;
   min-height: 200px;
   margin-bottom: 40px;
   // box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);

   .title {
      margin-bottom: 0;
   }
   img {
      width: 100px;
      margin: 0 auto;
      margin-bottom: 20px;
   }
   .subtitle {
      font-size: 1rem;
   }
}

.box {
   border-radius: 0;
   &:not(:last-child) {
      margin-bottom: 0;
   }

   .fa {
      color: #b5b5b5;
      font-size: 1rem;
      vertical-align: baseline;
      margin-right: 3px;
   }
}
.sidebar-right {
   padding: 20px;
   background-color: white;
   margin-bottom: 20px;

   .small {
      font-size: 0.7rem;
      color: #b5b5b5;
      a {
         color: #b5b5b5;
         text-decoration: underline;
      }
   }
}

.videos .box {
   padding-bottom: 10px;
   padding-top: 10px;

   small {
      margin-right: 20px;
   }
}

.video-title {
   color: #3177C3;

   &:hover {
      text-decoration: underline;
   }
}

.video__header{
   background-color: #fff;
   padding: 20px;
   box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
   display: block;
}

// HELPERS

.no-mgb {
   margin-bottom: 0 !important;
}

.no-pdb {
   padding-bottom: 0 !important;
}
.no-mgt {
   margin-top: 0 !important;
}

.no-pdt {
   padding-top: 0 !important;
}

.nav .nav-item {
   font-size: 0.8rem;
}

#sidebar {
   border: none;
}
.sidebar-right .at-style-responsive .at-share-btn {
    margin: 15px 5px;
}

.at-resp-share-element .at-share-btn:focus, .at-resp-share-element .at-share-btn:hover {
   transform: none !important;
}